<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <category label="Geral">
      <setting label="Configuracoes Gerais" type="lsep" />
      <setting id="abelhas-username" type="text" label="Username abelhas.pt" default=""/>
      <setting id="abelhas-password" type="text" label="Password abelhas.pt" default="" option="hidden" enable="!eq(-1,false)"/>
      <setting id="mensagemfb2" type="bool" label="Mensagem FB" default="true" visible="false"/>
      <setting id="debug-mode2" type="bool" label="30015" default="false" visible="false"/>
      <setting id="marcadorultimaseccao" type="text" label="Ultima Seccao" default="" visible="false"/>
      <setting id="ga_time2" type="text" label="GA Called" default="2000-01-01 00:00:00" visible="false"/>
      <setting id="ultima-pesquisa" type="text" label="Ultima pesquisa" default="" visible="false"/>
   </category>
</settings>