<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <category label="Geral">
      <setting id="playertype" type="enum" values="Auto (recomendado)|MPlayer|DVDPlayer|PAPlayer" label="Tipo de Player" default="0"/>
      <setting id="ga_time" type="text" label="GA Called" default="2000-01-01 00:00:00" visible="false"/>
      <setting id="ga_visitor" type="text" label="GA visitor" default="" visible="false"/>
      <setting id="mensagemfb" type="bool" label="Mensagem FB" default="true" visible="false"/>
   </category>
</settings>